<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>23</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;11467430&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290328605&amp;sign=dc6e990f87233a6f0ab0fac66df130e8&amp;sv=100</string>
	<key>22</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2186668&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290305558&amp;sign=30e4d06fae056f86692f0047189f8289&amp;sv=111</string>
	<key>21</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1185210&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290287647&amp;sign=311d7d9348d929f4166567443f969b6e&amp;sv=110</string>
	<key>20</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;11851314&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290156214&amp;sign=b96b2fb99510793a14cf2057e6219816&amp;sv=100</string>
	<key>19</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1244008557&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290136430&amp;sign=373e6669a25bbe4fe283c67f60302045&amp;sv=101</string>
	<key>18</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2326745&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290109299&amp;sign=414de10d032bcdfe811e2531b7566105&amp;sv=110</string>
	<key>17</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1844187&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290085635&amp;sign=ba0510db87e25a60f83052cadae7ea3a&amp;sv=101</string>
	<key>16</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10150825956&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290061015&amp;sign=8512641344886adcaa149fa012b2e7b1&amp;sv=111</string>
	<key>15</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10137569438&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290038703&amp;sign=bda20d466ad0e966058ad6727c79397a&amp;sv=101</string>
	<key>14</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10151503600&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458290022080&amp;sign=a63236419e83a5d280bf6fcc1cd0d818&amp;sv=100</string>
	<key>13</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1706518099&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289996581&amp;sign=86af779e133950e3c24ca04144b01acd&amp;sv=101</string>
	<key>12</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10153494098&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289977493&amp;sign=fe5754d7739441dde17192069f8f483c&amp;sv=110</string>
	<key>11</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10042298299&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289961458&amp;sign=339a0edd8ce4c3bd73f7c5fc74198a3d&amp;sv=110</string>
	<key>10</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;10106024335&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289928232&amp;sign=4260f56b27812190d2b0a99e9edde4e0&amp;sv=111</string>
	<key>9</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1021667033&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289908072&amp;sign=9942a4adb8c4b7915fd8b526f7983d8f&amp;sv=110</string>
	<key>8</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2019360&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289856546&amp;sign=0fa807c16db354a21cd06d96fe57b219&amp;sv=100</string>
	<key>7</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2019360&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289856546&amp;sign=0fa807c16db354a21cd06d96fe57b219&amp;sv=100</string>
	<key>6</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1545420&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289794097&amp;sign=1af969f3967413b8e00a9be90388bf17&amp;sv=110</string>
	<key>5</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;988840&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.6.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289712840&amp;sign=05a49b96219d2d71d4416077fa7f9bae&amp;sv=110</string>
	<key>4</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2100003&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.5.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289441621&amp;sign=2655b933047b9c80b996ffd4096be780&amp;sv=110</string>
	<key>3</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;874068&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.5.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289415609&amp;sign=81abcbed3643d5f76f7b85d00fb2d3bd&amp;sv=101</string>
	<key>2</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;1505809340&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.5.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289381727&amp;sign=0dc95ef2c7ab92ddad1efb84674a5f67&amp;sv=100</string>
	<key>1</key>
	<string>http://ware.m.jd.com/client.action?functionId=skuDetail&amp;body={&quot;skuId&quot;:&quot;2293683&quot;}&amp;screen=1536*2048&amp;b_version=4175&amp;clientVersion=3.5.0&amp;client=iPad&amp;osVersion=9.2&amp;partner=apple&amp;uuid=ihYSR7tM4ymhLDQfKygU5g==&amp;adid=820295D5-EDFA-46B8-AF02-57F21F6EFB3E&amp;area=2_0_0_0&amp;openudid=4dccb192c932287ad3fb712796232661379c3a2b&amp;st=1458289149019&amp;sign=f786158859aa59d7c51c08e5bc0c64ea&amp;sv=100</string>
</dict>
</plist>
