<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://img30.360buyimg.com/mobilecms/g14/M0A/0B/19/rBEhVlLL0HUIAAAAAAAGyl5TSloAAHzDQKBGqEAAAbi638.jpg</string>
	<string>http://m.360buyimg.com/mobilecms/s400x400_jfs/t2095/140/1463220859/279010/69131a15/56a1d73dNb054957c.jpg!q70.jpg</string>
	<string>http://img30.360buyimg.com/mobilecms/g13/M06/10/11/rBEhUlLL13kIAAAAAAAEeT_oUHcAAHskQP_-boAAASR577.jpg</string>
</array>
</plist>
